.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 400px;
    margin: 0 auto;

    label {
        display: flex;
        flex-direction: column;
        font-weight: bold;
        cursor: pointer;
    }

    input,
    select {
        width: 100%;
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 0.25rem;
    }
}

.success,
.error {
    font-weight: bold;
    margin: 0.25rem 0 0 0;
}

.error {
    color: red;
}

.success {
    color: green;
}

.formContainer {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 400px;
}

.inputField {
    height: 45px;
    font-size: 16px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
    width: 100%;
    max-width: 600px;
    min-width: 300px;
}

.fieldGroup {
    display: flex;
    flex-direction: column;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
